* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Dela Gothic One", cursive;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important;

	-webkit-focus-ring-color: rgba(255, 255, 255, 0) !important;

	outline: none !important;
}

body {
	margin: 5% 5%;
	background-color: #467d8d;
}

@media (max-width: 400px) {
	body {
		padding: 10% 5%;
	}
}

h1 {
	margin: 5% 0 3% 0;
	text-align: center;
	transition: 1s all;
	font-weight: 700;
	font-family: "Dela Gothic One", cursive;
	font-size: 2rem;
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.5rem;
	}
}

h2,
h2 * {
	text-align: center;
	font-family: "Dela Gothic One", cursive;
	color: white;
}

#mobile-word {
	display: none;
}

@media only screen and (max-width: 600px) {
	#desktop-word {
		display: none;
	}

	#mobile-word {
		display: inline;
	}
}

table {
	margin-top: 5%;
	border-collapse: collapse;
	width: 100%;
	transition: 1s all;
	text-decoration: underline;
	color: white;
	font-size: 18px;
}

table .parents {
	display: flex;
	justify-content: space-between;
}

table .parents td {
	width: 50%;
}

table strong {
	text-decoration: none;
}

table .collapsible-content td table {
	width: 70%;
	margin: 0 auto;
}

table .collapsible-content td {
	display: flex;
	flex-direction: column;
	transition: 1s all;
}

th,
td {
	border: 1px solid white;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(8, 8, 8);
}

table tr td table tr td {
	background-color: #031c2b;
	transition: 1s all;
}

.collapsible-content {
	display: none;
}

.active {
	display: table-row;
	transition: 1s all;
}
