* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "EB Garamond", serif;
}

body {
	margin: 15% 5%;
}

h1 {
	margin: 10% 0;
	text-align: center;
	transition: 1s all;
	font-weight: 700;
}

table {
	margin-top: 5%;
	border-collapse: collapse;
	width: 100%;
	transition: 1s all;
	text-decoration: underline;
	color: white;
}

table .parents {
	display: flex;
	justify-content: space-between;
}

table .parents td {
	width: 50%;
}

table strong {
	text-decoration: none;
}

table .collapsible-content td table {
	width: 70%;
	margin: 0 auto;
}

table .collapsible-content td {
	display: flex;
	flex-direction: column;
	transition: 1s all;
}

th,
td {
	border: 1px solid white;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(8, 8, 8);
}

table tr td table tr td {
	background-color: rgb(19, 19, 19);
	transition: 1s all;
}

.collapsible-content {
	display: none;
}

.active {
	display: table-row;
	transition: 1s all;
}
