* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "EB Garamond", serif;
}

body {
	margin: 0 5%;
}

h1 {
	text-align: center;
}

table {
	margin-top: 5%;
	border-collapse: collapse;
	width: 100%;
	transition: 1s all;
	text-decoration: underline;
}

table .parents {
	display: flex;
	justify-content: space-between;
}

table .parents td {
	width: 50%;
}
table .collapsible-content td table {
	width: 70%;
	margin: 0 auto;
}

table .collapsible-content td {
	display: flex;
	flex-direction: column;
}

th,
td {
	border: 1px solid black;
	padding: 8px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(192, 252, 232);
}

table tr td table tr td {
	background-color: aquamarine;
	transition: 1s all;
}

.collapsible-content {
	display: none;
}

.active {
	display: table-row;
}
